html,body{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    align-content: center;
    font-size: 14px;
    text-decoration-color: #020202;
    box-sizing: border-box;
    
    
}

header1{
    padding: 15em;
    margin: 15px;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #818181;
    display: none;
}


main{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 550px;
    position: relative;
    background-image: url("http://i.imgur.com/RtIG5AV.jpg");
    background-repeat: no-repeat;
    background-image: cover;
    background-size:100%;
}


button{
    margin: 0;
    border: none;
    background-color: white;
    font-size: 1.2em;
    
    
}

top{
    
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
}

#log{
    position: relative;
    top:-80px;
    font-size: 1.2em;
    height: 70px;
    width: 10%;
    line-height: 4em;
    text-align: center;
    float: right;
    color: black;
    
}


#sign{
    position: relative;
    top:-80px;
    font-size: 1.2em;
    height: 60px;
    width: 10%;
    line-height: 4em;
    text-align: center;
    float: right;
    color: #fff;
    background-color:#3FA87E;
}




#two{
    display: inline;
    margin: 0 auto;
    width:10%;
    
}

ul{
   float: left;
    display: block;
    text-transform: uppercase;
    margin: 0;
    width:auto;
    
}

li{
    width: calc(100%/11);
    display:inline;
    width: 100px;
    height: 30px;
    

}

#contacts{
    font-family: arial;
    display: inline;
    width: 146px;
    text-transform: lowercase;
    
    
}


a{
    top: 80px;
    line-height: 20px;
    color: black;
    font-weight: normal;
    text-decoration: none;
    font-size: 18px;
}

#quote{
    float: right;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size:40px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

input{
    display: inline-block;
    margin: 20px;
    padding: 20px;
    padding-left: 100px;
    padding-right:100px ;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    float: left;
}

input{
    text-align: center;
    margin: 20px;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #3fa87e;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    
}

#end{
    float: left;
   margin: 0 auto;
    padding: 0;
    text-transform: uppercase;
    
}

.terms{
    margin: 10px;
    float: left;
    line-height: 20px;

}



@media only screen and (min-width:600px)and (max-width:920px){
    body{
        width:100%;}
    
}


@media only screen and (max-width:599px){
    body {
        width: 320px;
    }
          pre{         
            font-size:.83m;
            padding: 5em;
            background: rgb (146,247,160);
        }
    
}

@media only screen and (max-width:420px){
    #icons{
        display:inline;
        margin-top: 15em;    
        
}
    
  
a{
    color: black;
    font-weight: normal;
    text-decoration: none;
}    
    
    
footer{
    padding:0;  
    display: inline;
}


    
    
