html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    font-size: 22px;
    text-align: center;
    
}


 

header{
    border 
    background-color: #ffffff;
    width: 100%;
    height: 7rem;
    letter-spacing: 1px;
    box-sizing: border-box;
    border: solid 2px #000000;
    
}



#button1{
    background-color: white;
    float: left;
    margin: 25px;
    font-size: 15px;
    text-decoration-color: #56CC9D;

}



#button1:hover {
    background: #ffffff;
    text-underline-position: below;
}



#two{ 
    margin-left: 8.5rem;
    margin-bottom: 30rem;
    font-size: 15px;
    float: right;
    align-content: center;
    background-color: #56CC9D;
    text-align: center;
    display: inline;
    
}


#two:hover {
    font-size: 15px;
    text-decoration-color: #56cc9d;
    text-underline-position: below;
}



#three {
    
    float: right;
    background-color: #ffffff;
    display: inline;
    text-decoration-color: #56CC9D;
    font-size: 14px;
    
}

a:hover{
    
}


#image{
    background-position: ;
    width: 1105px;
    height: 450px;
    
}

#bottom{
    background-color: #56cc9d;
    background-position: center;
    width: 384.5px;
    height: 50px;
    display: inline-block;
    text-align: center;
    
}

#top{
    align-content: center;
    width: 384.5px;
    height: 50px;
    display: inline-block;
}

footer{
    
    display: block;
    box-sizing: border-box;.
    border: solid 1px;
    width: 100%;
    height: 50%;
}